<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ModaApp">

        <!-- Pantalla Principal de Login -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Menú del Administrador -->
        <activity
            android:name=".MenuActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Gestión e Inventario de Ropa (HU-07) -->
        <activity
            android:name=".GestionRopaActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Formulario para Registrar Ropa -->
        <activity
            android:name=".RegistrarRopaActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Control de Pedidos (HU-11) -->
        <activity
            android:name=".PedidosActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Reportes y Métricas (HU-12) -->
        <activity
            android:name=".ReportesActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Directorio de Clientes (HU-12) -->
        <activity
            android:name=".ClientesActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Catálogo del Cliente -->
        <activity
            android:name=".CatalogoActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Carrito del Cliente -->
        <activity
            android:name=".CarritoActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

    </application>

</manifest>